.customize-control.customize-control-post_select select {
	display: block;
	width: 100%;
}

.customize-control.customize-control-post_edit textarea,
.customize-control.customize-control-post_edit select,
.customize-control.customize-control-post_edit .meta-key {
	display: block;
	width: 100%;
}

.customize-control.customize-control-post_edit .post-meta li {
	position: relative;
	margin-left: 0;
}

.customize-control.customize-control-post_edit .post-meta .meta-key {
	padding-right: 37px;
}

.customize-control.customize-control-post_edit .post-meta textarea {
	display: block;
	margin-top: 0;
}

.customize-control.customize-control-post_edit .post-meta .delete-meta {
	position: absolute;
	top: 0;
	right: 0px;
	width: 35px;
}
