.customize-control.customize-control-post_select select
{
	display: block;
	width: 100%;
}

.customize-control.customize-control-post_edit textarea,
.customize-control.customize-control-post_edit select,
.customize-control.customize-control-post_edit .meta-key
{
	display: block;
	width: 100%;
}

.customize-control.customize-control-post_edit textarea {
	max-width: 100%;
}

.customize-control.customize-control-post_edit dd {
	position: relative;
	text-align: right;
	margin-left: 0;
	margin-left: 37px;
}

.customize-control.customize-control-post_edit .delete-meta {
	position: absolute;
	top: 0;
	left: -37px;
	width: 35px;
}
