
.customize-posts-panel-notice {
	color: #555;
	background: #fff;
	padding: 12px 15px;
	border-top: 1px solid #ddd;
}

.customize-control-notifications-container .override-post-conflict {
	margin-left: 1ex;
	float: right;
}

#customize-controls .control-panel-posts .customize-info {
	margin-bottom: 0;
}

#customize-controls .customize-posts-navigation {
	position: absolute;
	top: 4px;
	right: 1px;
	padding: 20px;
	width: 20px;
	height: 20px;
	cursor: pointer;
	-webkit-appearance: none;
	background: transparent;
	color: #555;
	border: none;
}

#customize-controls .customize-posts-navigation:before {
	padding: 4px;
	position: absolute;
	top: 6px;
	left: 6px;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

#customize-controls .customize-posts-navigation:focus:before {
	-webkit-box-shadow:
		0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
	box-shadow:
		0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, .8);
}

#customize-controls .customize-posts-navigation:focus,
#customize-controls .customize-posts-navigation:hover {
	color: #0073aa;
}

#customize-controls .customize-posts-navigation:focus {
	outline: none;
}

.customize-posts-add-new {
	padding: 15px 12px;
	margin: 0;
	overflow: hidden;
}

.customize-posts-add-new .add-new-post-stub {
	float: right;
}

.customize-posts-add-new .add-new-post-stub:before {
	content: "\f132";
	display: inline-block;
	position: relative;
	left: -2px;
	top: -1px;
	font: normal 20px/1 dashicons;
	vertical-align: middle;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#customize-posts-content-editor-pane {
	border-top: solid 1px #ddd;
	position: absolute;
	height: 300px;
	bottom: -301px;
	right: 0;
	left: 0;
	z-index: 20;
	background: #f1f1f1;
	display: block;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	visibility: hidden;
}
 
body.customize-posts-content-editor-pane-resize #customize-preview,
body.customize-posts-content-editor-pane-resize #customize-posts-content-editor-pane {
	-webkit-transition: none;
	transition: none;
}

body.mce-fullscreen.customize-posts-content-editor-pane-open #customize-posts-content-editor-pane {
	top: 0;
}

body.customize-posts-content-editor-pane-open #customize-posts-content-editor-pane {
	bottom: 0;
	visibility: inherit;
}

#customize-posts-content-editor-pane .wp-editor-tools {
	padding-top: 5px;
	padding-right: 10px;
}

#customize-posts-content-editor-pane .wp-media-buttons {
	padding-left: 5px;
}

#customize-preview {
	height: auto;
}

body.customize-posts-content-editor-pane-open #customize-preview {
	bottom: 300px;
}

body.mce-fullscreen #customize-preview {
	bottom: 0;
}

body.mce-fullscreen.customize-posts-content-editor-pane-open div.mce-fullscreen {
	position: relative;
	left: 0;
}

#wp-customize-posts-content-editor-container {
	border-left: 0;
}

/* vertical resize bar */
#customize-posts-content-editor-dragbar {
	top: 0;
	cursor: row-resize;
	display: block;
	height: 4px;
	position: absolute;
	width: 100%;
	z-index: 21;
}

body.customize-posts-content-editor-pane-resize #customize-preview:before {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 999999;
}

/* @todo Mobile support for rich text editor */

.wp-customizer .ui-autocomplete.wplink-autocomplete {
	z-index: 500110; /* originally 100110, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #wp-link-wrap {
	z-index: 500105; /* originally 100105, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #wp_editbtns,
.wp-customizer #wp_gallerybtns {
	z-index: 500020; /* originally 100020, but z-index of .wp-full-overlay is 500000 */
}
.wp-customizer #TB_overlay,
.wp-customizer #TB_window {
	z-index: 500050;
}
.wp-customizer .mce-panel,
.wp-customizer .mce-tooltip {
	z-index: 500100 !important; /* originally 100100, but z-index of .wp-full-overlay is 500000 */
}

.customize-posts-content-editor-pane-open .wp-full-overlay.collapsed .wp-full-overlay-sidebar {
	z-index: 30;
}
.customize-posts-content-editor-pane-open .wp-full-overlay.collapsed .collapse-sidebar {
	bottom: 308px;
}
.customize-posts-content-editor-pane-open .wp-full-overlay.expanded .collapse-sidebar {
	bottom: 0 !important;
}
.customize-posts-content-editor-pane-resize .wp-full-overlay.collapsed .collapse-sidebar {
	-webkit-transition: none;
	transition: none;
}
.customize-posts-content-editor-pane-open.mce-fullscreen .wp-full-overlay.collapsed .collapse-sidebar {
	bottom: 8px !important;
}
