.customize-section-back {
	display: none;
}

#customize-header-actions #save,
#customize-header-actions #snapshot-save,
#snapshot-status-button-wrapper,
#snapshot-preview-link,
#snapshot-expand-button
{
	display: none !important;
}

#customize-header-actions .customize-controls-close::before {
	content: "\f341";
}
